@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  margin: 0px 0%;
  font-family: 'Poppins', sans-serif;
}

/*-------------- Header Section------------ */

.header {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
}

button{
  font-family: 'Poppins', sans-serif;
}

.logoContainer{
  cursor: pointer;
  margin-left: 10px;
}

.filter-favorites {
  display: flex;
  align-items: center;
  justify-content:space-around;
  margin-right: 10px;
  flex-wrap: wrap;
}

.filter-icon{
  position:relative; 
  top:4px; 
  left:0px;
}

.fav-add-btn{
  text-align: center;
  background-color: black;
  padding: 8px 15px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  margin: 0px 10px;
  position: relative;
}

.fav-add-btn:hover{
  background-color: #a9aea9;
}

.number{
  background-color: rgb(255, 236, 67);
  color:rgb(11, 11, 11);
  font-size: 12px;
  padding: 0 5px;
  position:absolute;
  top: -10%;
  right: -8%;
  border-radius: 40%;
}

.dropbtn {
  background-color: black;
  color: white;
  outline: none;
  min-width: 100px;
  padding: 8px 25px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin: 0px 10px;
  border-radius: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  margin: 0px 8px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 150px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 400px;
  overflow-y: scroll;
}
.dropdown-content button {
  color: black;
  padding: 8px 13px;
  font-size: .7em;
  text-decoration: none;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #e7e6e6
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a9aea9;
}


/* -----------------Loaders------------- */

.favorite-loader {
  margin: 20vh 40%;
}
.product-loader{
  margin: 30vh 40%;
}
.favorite-back{
  margin: 10vh 40%;
}

/*------------- Main Container-------------- */

.ProductContainer {
  margin: 0 5%;
  padding: 0px 45px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 50px;
  row-gap: 20px;
  column-gap: 20px;
}


/*----------------------- Cards--------------------- */

.eachItem{
   min-width: 220px;
   height: auto;
   border-radius: 5px;
   box-shadow: 0 0 1px 2px rgba(0,0,0,.05);
   overflow: hidden;
   font-size: 0.8rem;
   position: relative;
   padding-bottom: 10px;
   justify-self: flex-start;
}
.eachItem span{
  cursor:auto;
}
.icon:hover{
    color: grey;
    cursor: pointer;
}
.eachItem:hover {
  box-shadow: 0 0 8px 3px rgba(0,0,0,.15);
  transform: scale(1.01);
  opacity: 1;
  filter: grayscale(0);
  transition: .35s all ease;
}
.eachItem img{
  padding: 15px auto;
  width: 150px;
  height: 130px;
  margin-top: 10px;
  cursor: pointer;
}
.delete-fav-card{
  display: flex;
  justify-content: space-around;
}


/*------------------ Detail Page-------------- */

.itemDetail{
   margin: 50px 15%;
   display: flex;
   column-gap: 20px;
   text-align: left;
}
.details{
  width: 500px;
  height: 500px;
  overflow: hidden;
  padding: 10px 15px;
}
.detailImagentainer{
   width: 500px;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
}
.detailImage{
   width: 60%;
   height: 60%;
}


/*---------------- Responsive -------------------*/

@media screen and (max-width: 800px) {
  .itemDetail {
    flex-direction:column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .detailImagentainer{
    max-width: 350px;
    height: 350px;
  }
  .details{
    width: 350px;
    text-align: center;
    padding: 10px 15px;
  }
}
@media screen and (max-width: 600px) {
  .header{
    flex-direction: column;
    height: auto;
    padding: 20px 0px;
  }
  .fav-add-btn{
    padding: 3px 10px;
  }
  .dropbtn{
    padding: 3px 15px;
  }
  .dropdown-content button {
    padding: 3px 15px;
    font-size: 12px;
  }
  .dropdown-content {
   width: 120px;
   height: 300px;
  }
}


/*------------------ Buttons------------------- */
.delete-favorite{
  display: block;
}
.fav-delete-btn{
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-right: 10px;
  border-radius: 5px;
}

.fav-delete-btn:hover{
  background-color:#4681f4;
}


/*----------------- InputBox----------------- */

.inputBox{
  width: 450px;
  height: auto;
  margin-top: 70px;
  border: 3px solid #dff0ef;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.inputBox div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 35px;
  border-radius: 5px;
}
.inputBox div input{
    height: 95%;
    width: 70%;
    border: none;
    background:#dff0ef;
    border-radius: 5px;
}
.inputBox div input:focus{
  background: rgb(235, 249, 244);
  border: 3px solid rgb(0, 128, 255);
  outline: none;
}
.textarea{
  height: 100px;
}
.inputBox div select{
  height: 100%;
  width: 70%;
  border: none;
  border-radius: 5px;
  background: #dff0ef;
}
.inputBox div select:focus{
  background: rgb(235, 249, 244);
  border: 3px solid rgb(0, 128, 255);
  outline: none;
}
.inputBox div span{
  width: 30%;
  text-align: left;
}

.error{
  background-color: yellow;
  color:black;
  width: auto;
}
.errordiv{
  margin-top: 30px;
}
.success{
  background-color: rgb(194, 251, 137);
}

.add-page-button{
  background-color: black;
  color: white;
  padding: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  width: 120px;
  border-radius: 5px;
}
.add-page-button:hover{
  background-color:#4681f4;
}
.add-buttons{
  margin: 15px 0px;
}

@media screen and (max-width: 600px) {
  .inputBox{
    width: auto;
    padding: 10px;
  }
  .inputBox div{
    width: 300px;
    margin: 0px 10px;
  }
  .inputBox div span{
     font-size: 14px;
  }
}

/* ------------Pagination------------ */
.buttons {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.buttons button{
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}
.buttons button:hover{
  background-color: #0275d8;
}
.prev-next-btn{
  width: auto;
  border: none;
  margin: 5px 5px;
  color: white;
  background-color: #5cb85c;
}
.normal-btn{
  border: none;
  background-color: #d6d8d9;
  margin: 5px 5px;
}
.active {
  background-color: #0275d8;
  color: white;
  border: none;
  margin: 5px 5px;
}









